@media (max-width: 870px) {

    .main-page {
        display: flex;
        flex-direction: column;
    }

    .input-panel__label {
        font-size: 1.3rem;
    }

    .controls-section {
        padding: 1rem;
    }

    .controls-section__container {
        padding: 0.5rem;
    }

    .controls-section__controls {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .controls-section__icon {
        width: 36px;
    }

    .editor-section {
        padding: 1rem;
    }

    .editor-section__container {
        padding: 0.8rem;
    }

    .preview-section {
        padding: 1rem;
    }

    .preview-header {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem
    }

    .preview-header__full-name {
        font-size: 2rem;
    }

    .preview-header__misc-container {
        flex-direction: column;
    }

    .preview-header__misc-item {
        font-size: 1rem;
    }

    .preview-container {
        padding: 1rem 2rem;
    }

    .preview-container__header {
        font-size: 1.3rem;
    }

    .experience-list {
        padding: 0.5rem;
    }

    .experience-list__item-header {
        font-size: 1.3rem;
    }

    .experience-list__item-title {
        font-size: 1.3rem;
    }

    .experience-list__item-text {
        font-size: 1.2rem;
    }

    .experience-list__item-date {
        font-size: 1rem;
    }
}