:root {
    --control-btn-bg-clr: #0077ff;
    --control-btn-txt-clr: #fff;
}

.editor-section {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.editor-section__container {
    max-width: 100%;
    padding: 2em;
    border-radius: 1rem;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.15);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.editor-header {
    display: flex;
    align-items: center;
}

.editor-header__controls {
    display: flex;
    gap: 3rem;
}

.editor-header__icon {
    width: 2.6rem;
    height: auto;
}

.control-icon:hover {
    cursor: pointer;
}

.input-panel {
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform-origin: top;
    transition: all 400ms;
}

.input-panel--hidden {
    display: none;
    z-index: -1;
    opacity: 0;
    transform: translateY(-10px);
}

.input-panel__icon {
    width: 32px;
    height: auto;
    filter: invert(28%) sepia(8%) saturate(24%) hue-rotate(315deg) brightness(93%) contrast(79%);
    transition: filter 200ms;
}

.input-panel__icon:hover {
    filter: none;
}

.input-panel__title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-panel__title-icon {
    width: 32px;
    height: auto;
}

.input-panel__arrow {
    width: 48px;
    height: auto;
    transition: transform 250ms;
}

.input-panel__arrow--expanded {
    transform: rotate(180deg);
}

.input-panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-panel__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.input-panel__label {
    font-size: 1.3rem;
    font-weight: 500;
}

.input-panel__field {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-panel__controls {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.input-panel__button {
    width: 100px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    color: var(--control-btn-txt-clr);
    background-color: var(--control-btn-bg-clr);
    border: 1px solid transparent;
    border-radius: 1.2rem;
    transition: background-color 150ms, border-color 150ms;
}

.input-panel__button:hover {
    color: var(--control-btn-bg-clr);
    background-color: var(--control-btn-txt-clr);
    border-color: var(--control-btn-bg-clr);
}

.input-panel__button--edit {
    margin-top: 1rem;
    align-self: center;
}

.editor-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.editor-container__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-container__button {
    width: 32px;
}

@starting-style {
    .input-panel {
        opacity: 0;
        transform: translateY(-10px);
    }
}