:root {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --main-bg-clr: #f3f4f6;
    --input-bg-clr: #ebebeb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    background-color: var(--input-bg-clr);
    padding: 0.8rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: border 250ms, box-shadow 250ms;
}

input:focus {
    box-shadow: 0 0 1em rgb(0 0 0 / 0.2);
    border-color: #0077ff;
}

button:hover {
    cursor: pointer;
}

.main-page {
    background-color: var(--main-bg-clr);
    display: grid;
    grid-template-columns: 0.5fr minmax(400px, 2fr) minmax(700px, 4fr);
}

@page {
    size: auto;
    margin: 0mm;
}

@media (max-width: 870px) {

    .main-page {
        display: flex;
        flex-direction: column;
    }

    .input-panel__label {
        font-size: 1.3rem;
    }

    .controls-section {
        padding: 1rem;
    }

    .controls-section__container {
        padding: 0.5rem;
    }

    .controls-section__controls {
        flex-direction: row;
        justify-content: space-around;
    }

    .controls-section__icon {
        width: 28px;
    }

    .editor-section {
        padding: 1rem;
    }

    .editor-section__container {
        padding: 0.8rem;
    }

    .screen-section {
        padding: 1rem;
    }

    .screen-header {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem
    }

    .screen-header__full-name {
        font-size: 2rem;
    }

    .screen-header__misc-container {
        flex-direction: column;
    }

    .screen-header__misc-item {
        font-size: 1rem;
    }

    .screen-container {
        padding: 1rem 2rem;
    }

    .screen-container__header {
        font-size: 1.3rem;
    }

    .experience {
        padding: 0.5rem;
    }

    .experience__item-header {
        font-size: 1.3rem;
    }

    .experience__item-title {
        font-size: 1.3rem;
    }

    .experience__item-text {
        font-size: 1.2rem;
    }

    .experience__item-date {
        font-size: 1rem;
    }
}

@media (max-width: 1280px) {
    .main-page {
        grid-template-columns: 0.3fr minmax(400px, 2fr);
        grid-template-areas:
            'controls editor'
            'preview preview';
    }

    .controls-section {
        grid-area: controls;
    }

    .editor-section {
        grid-area: editor;
    }

    .screen-section {
        grid-area: preview;
    }
}

/* @media (max-width: 2000px) { */
@media print {
    .main-page {
        grid-template-columns: 1fr;
    }

    .controls-section {
        display: none;
    }

    .editor-section {
        display: none;
    }

    .screen {
        box-shadow: none;
    }

    .screen-section {
        padding: 0;
    }

    .screen-container {
        padding: 3rem;
        padding: 3rem 3rem 0rem 3rem;
    }

    .screen-header {
        -webkit-print-color-adjust: exact;
        padding: 2rem 0 2rem 0;
    }

    .screen-header__full-name {
        font-size: 2.1rem;
    }

    .screen-header__misc-item {
        font-size: 1rem;
    }

    .screen-container__header {
        padding: 0.7rem;
        -webkit-print-color-adjust: exact;
        font-size: 1.3rem;
    }

    .experience {
        padding: 0.8rem;
        gap: 1.6rem;
    }

    .experience__item-header {
        font-size: 1.2rem;
    }

    .experience__item-title {
        font-size: 1.1rem;
    }

    .experience__item-text {
        max-width: 60ch;
        font-size: 0.9rem;
    }

    .experience__item-date {
        font-size: 0.8rem;
    }
}