:root {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --main-bg-clr: #f3f4f6;
    --input-bg-clr: #ebebeb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    background-color: var(--input-bg-clr);
    padding: 0.8rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: border 250ms, box-shadow 250ms;
}

input:focus {
    box-shadow: 0 0 1em rgb(0 0 0 / 0.2);
    border-color: #0077ff;
}

button:hover {
    cursor: pointer;
}

.main-page {
    min-height: 100vh;
    background-color: var(--main-bg-clr);
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(100px, 150px) minmax(400px, 700px) minmax(700px, 1000px);
}

.text--unselectable {
    user-select: none;
}

.icon {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.control-icon:hover {
    cursor: pointer;
}