:root {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    margin: 0.2em 1em 0.2em 1em;
    padding: 0.5em;
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5em rgb(0 0 0 / 0.2);
}

.main-page {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.editor-section {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.container-section-item {
    max-width: 100%;
    padding: 1em;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.5em rgb(0 0 0 / 0.2);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.control-icon:hover {
    cursor: pointer;
}


@media print {
    .main-page {
        grid-template-columns: 1fr;
        font-size: 1.3rem;
    }
    .container-section {
        display: none;
    }
    .screen-page {
        box-shadow: none;
    }
}