:root {
    --screen-header-bg-clr: #0e374e;
    --screen-header-txt-clr: #fff;
    --screen-header-icon-clr: invert(100%) sepia(100%) saturate(2%) hue-rotate(175deg) brightness(104%) contrast(100%);
    --experience-header-bg-clr: #0e374e12;
    --experience-header-txt-clr: #0e374e;
}

.screen-section {
    padding: 1em;
}

.screen {
    aspect-ratio: 1/1.41;
    max-width: 100%;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.15);

    display: flex;
    flex-direction: column;
}

.screen-header {
    padding: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.7rem;

    color: var(--screen-header-txt-clr);
    background-color: var(--screen-header-bg-clr);
}

.screen-header__full-name {
    font-size: 2.5rem;
}

.screen-header__misc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.screen-header__misc-item {
    font-size: 1.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.screen-header__icon {
    filter: var(--screen-header-icon-clr);
    width: 24px;
    height: auto;
}

.screen-container {
    padding: 2rem 4rem 2rem 4rem;
}

.screen-container__header {
    font-size: 1.7rem;
    padding: 1rem;
    text-align: center;
    color: var(--experience-header-txt-clr);
    background-color: var(--experience-header-bg-clr);
}

.experience {
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.experience__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.experience__item-header {
    color: var(--experience-header-txt-clr);
    font-size: 1.6rem;
}

.experience__item-title {
    font-size: 1.5rem;
}

.experience__item-text {
    font-size: 1.3rem;
}

.experience__item-date {
    font-size: 1.2rem;
}